.bgImageA{
    background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-54043.jpg?w=740&t=st=1689526341~exp=1689526941~hmac=c20fc20b5c843ba804adff743f2fbf822d2a175937515ad7188d1d3cf2e14389');
    background-repeat: no-repeat;
    background-size: cover;
}  