.bgImage{
    background-image: url('https://img.freepik.com/premium-vector/polygonal-design-abstract-geometrical-background_43969-600.jpg?w=740');
    background-repeat: no-repeat;
    background-size: cover
}  