.bgImageH{
    background-image: url('https://img.freepik.com/free-vector/halftone-background-with-dots_23-2148907692.jpg?w=740&t=st=1688026740~exp=1688027340~hmac=98824a4f9dbdf2bf50b5d61c11ca4afeadf66676c9333c6775b8cc9d38fe457d');
    background-repeat: no-repeat;
    background-size: cover
}  
