.bgImage{
    background-image: url('https://img.freepik.com/free-vector/neon-light-background_53876-67235.jpg?w=740&t=st=1687950397~exp=1687950997~hmac=8dc45fac3449cb06e332a67b1212a2d0107519e8e7d5a1d76770a1200bcf2324');
    background-repeat: no-repeat;
    background-size: cover
}  
