.bgImageH{
    background-image: url('https://img.freepik.com/premium-photo/purple-wallpapers-that-will-make-you-smile_900775-4618.jpg?w=826');
    background-repeat: no-repeat;
    background-size: cover
}  
