.bgImageP{
    background-image: url('https://img.freepik.com/premium-photo/abstract-background-lines-modern-elegant_524711-51.jpg?w=740');
    background-repeat: no-repeat;
    background-size: cover
}  
