.bgImageS{
    background-image: url('https://img.freepik.com/premium-photo/abstract-colorful-background-twisted-gradient-wavy-twirls-patterns-motion-digital-wallpaper_636456-1246.jpg?w=826');
    background-repeat: no-repeat;
    background-size: cover
}  